.panel:before {
  border-bottom: 13px solid;
  border-left: 30px solid transparent;
  border-right: 0px solid transparent;
  content: '';

  @apply border-b-semi_primary absolute block w-0 h-0 bottom-full right-0;
}
