.calendar .react-calendar {
  @apply w-full;
}
.react-calendar .react-calendar__tile--active {
  @apply relative bg-inherit text-inherit;
}

.react-calendar .react-calendar__tile--active::before {
  @apply content-[''] absolute w-full h-full border border-black inset-0;
}

.react-calendar .react-calendar__tile:enabled:hover,
.react-calendar .react-calendar__tile:enabled:focus {
}

.react-calendar .react-calendar__tile--active:enabled:hover,
.react-calendar .react-calendar__tile--active:enabled:focus {
  background: initial;
}

/* 빨간날 */
.react-calendar .react-calendar__month-view__days__day--weekend {
  color: initial;
}

.react-calendar .react-calendar__month-view__days__day {
  @apply h-28 flex justify-start items-start flex-col p-1;
}

/* 할 일 달력에 표시 */
.react-calendar .react-calendar__month-view__days__day p {
  @apply truncate w-full mb-1 p-1 bg-red-200 rounded-md;
}

/* 오늘 날짜 selected */
.react-calendar .react-calendar__tile--now {
  background: none;
}

.react-calendar abbr {
  text-decoration: none;
}

/* 모달  */
.calendar-modal .time-period button {
  @apply flex justify-center;
}
