@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', system-ui, sans-serif;
  }
  textarea {
    resize: none;
  }
}

::-webkit-scrollbar {
  background: transparent; /* 스크롤바의 배경을 투명으로 설정합니다. */
  display: none;
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
}
